html{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.header{
    background:white;
}
.header-logo img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:80px;
}
.header-logo a{
    color:black;
}
.header-logo-button{
    width:100%;
}
.header-logo a:hover{
    text-decoration:none;
}
nav ul{
    display:flex;
    list-style-type: none;
    padding:0;
    
}
nav ul li a{
    margin-right:15px;
    font-size:16px;
    transition: 0.25s;
    color:black;
    font-family: "Quicksand";
}
nav ul li a:hover{
    color:#78913d;
    text-decoration:none;
}
.main-nav{
    display: flex;
    align-items:center;
    padding: 18px 0;
}
.main-nav div{
    margin-left:auto;
    margin-right:auto;
}
.main-content{
    background:white;
}
.brand-name{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
    padding:25px 0;
}
.navbar{
    font-family: "Inter";
    padding-bottom:0;
}
h1{
    font-size:16px;
    font-weight:300;
    margin-bottom:0;
    display: flex;
    justify-content: center;
}
h1 span{
    color:#78913d;
    padding-left:4px;
}
.social-block{
    float:right;
    margin-bottom:0;
}
.social-block .fa-phone{
    font-size:15px;
}
.social-block .fa-envelope, .social-block .fa-instagram, .social-block .fa-phone{
    color:#78913d;
    transition:0.25s;
}
.social-block  .fa-envelope:hover, .social-block  .fa-instagram:hover, .social-block  .fa-phone:hover{
    color:black;
}
.social-block .fa-instagram{
    border-left: solid 1px rgb(218, 218, 218);
    padding-left:30px;
}
.parallax1{
    /* The image used */
    background-image: url("images/jess-dark.JPG");
  
    /* Set a specific height */
    min-height: 375px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0px -350px;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    color:white !important;
}
.btn:hover{
    text-decoration:none;
}
.banner-info{
    border-top: solid 1px rgb(218, 218, 218);
}
.banner-info__text{
    padding:50px 0px 80px 0;
    font-family:"Inter";
    position: relative;
    z-index: 3;
    color:white;
    font-size:14px;
}
.welcome{
    background:transparent;
}

/* carousel */
.testimonials{
    padding:30px 0;
    min-height:380px;
}
.testimonial-link-wrapper{
    text-align: center;
    margin-bottom:100px;
}
.testimonial-link{
    border: solid 1px #78913d;
    border-radius:35px;
    font-family: "Quicksand";
    font-size: 14px;
    padding:15px 25px;
    color:#78913d;
    font-weight:bold;
    transition: .25s ease-in-out;
}
.testimonial-link:hover{
    background:#78913d;
    color:white;
    text-decoration: none;
}
.carousel-control-prev, .carousel-control-next{
    display:none;
}
.carousel{
    margin:40px 200px 10px 200px;
}
.carousel-item{
    text-align: center;
    font-family: "Open Sans Condensed";
    font-size:20px;
}
.carousel-indicators{
    
}
.testimonial-heading{
    font-family: "Inter";
    text-align: center;
    font-size: 18px;
    padding-top:40px;
    color:#78913d;
    font-weight:bold;
}
.carousel-indicators li{
    display:none;
}
.banner-info__heading{
    font-family: "Quicksand";
    font-size: 36px;
    padding:20px 0 20px 0;
    color:white;
    position: relative;
    margin-bottom:30px;
}
.banner-info__heading span{
    color:#78913d;
    font-weight:bold;
    /* font-family: "Inter"; */
}
.banner-info__heading:after{
    content:"";
    position:absolute;
    width:40px;
    height:2px;
    bottom:0;
    background:#78913d;
    left:0;
}
.quote-author{
    margin-top:20px;
    padding-top:10px;
    font-family: "Open Sans Condensed";
    font-style:italic;
    position:relative;
}
.quote-author:before{
    content:"";
    position:absolute;
    width:40px;
    height:1px;
    top:0;
    background:#78913d;
    left:50%;
    transform: translateX(-50%);
}
.contact-row{
    padding:60px 0;
    text-align:center;
}
.contact-btn{
    border-radius:30px;
    font-size:18px;
    background:#78913d;
    color:white;
    padding:12px 26px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Quicksand";
    transition:0.25s ease-in-out;
}
.contact-btn:hover{
    background:#1a2403;
}
.gallery-btn{
    border-radius:30px;
    font-size:18px;
    background:#78913d;
    color:white;
    padding:12px 26px;
    position: absolute;
    bottom: 90px;
    right: 0;
    font-family: "Quicksand";
    transition:0.25s ease-in-out;
}
.gallery-btn:hover{
    background:#1a2403;
}
.blog-btn{
    border-radius:30px;
    font-size:18px;
    background:#78913d;
    color:white;
    padding:12px 26px;
    font-family: "Quicksand";
    transition:0.25s ease-in-out;
}
.blog-btn:hover{
    background:#1a2403;
}
.landing-blog{
    padding:50px;
}
.landing-blog div{
    font-family: "Quicksand";
    margin:10px 0;
    font-size:36px;
    text-align:center;
}
.footer{
    background-color:black;
    height:auto;
}
.footer-social-block{
    list-style-type: none;
    display:flex;
    justify-content: center;
    margin:0;
    padding:50px 0 25px 0;
}
.footer-social-block .fa-instagram, .footer-social-block .fa-envelope, .footer-social-block .fa-phone {
    color:white;
    border: solid 1px white;
    border-radius:50%;
    padding:15px;
    transition: 0.25s ease-in-out;
}
.footer-social-block .fa-instagram:hover, .footer-social-block .fa-envelope:hover, .footer-social-block .fa-phone:hover {
    color:#78913d;
    border: solid 1px white;
    border-radius:50%;
    padding:15px;
}
.footer-social-block .fa-envelope{
    margin:0 15px;
}
.footer-header{
    font-family: "Quicksand";
    font-size:24px;
    text-align:center;
    margin:0;
    color:grey;
}
.footer-credits{
    font-family: "Quicksand";
    font-size:18px;
    text-align:center;
    margin:0;
    padding:50px 0;
    color:grey;
}
.footer-break{
    display:none;
}
/* MEDIA QUERIES */

@media (max-width:1199px) {
    .header{
        max-width:100%;
    }
    .navbar{
        display:flex;
        justify-content: center;
        margin-top:20px;
        background:rgb(238, 238, 238);
        padding:15px 0;
    }   
    .main-nav{
        padding:18px 0 0 0;
    }    
    .navbar ul{
        margin-bottom:0;
    }
    .carousel{
        margin:40px 60px 10px 60px;
    }
    .parallax1{
        background-position: top center;
    }
    .header-logo img{
        display:flex;
        margin-left:38px;
        margin-right:0;
        width:80px;
    }
    h1{
        justify-content: flex-start;
    }
}

@media (max-width:768px) {
    .carousel{
        margin:40px 20px 10px 20px;
    }
    .contact-btn{
        top:60%;
    }
}
@media (max-width:767px) {
    .gallery-btn {
        position: relative;
        font-size: 14px;
        margin-top: 50px;
    }
}


@media (max-width:425px) {
    nav ul li a{
        font-size:12px;
        margin-left:7.5px;
        margin-right:7.5px;
    }
    .footer-credits{
        font-size:14px;
        line-height:1;
    }
    .footer-break{
        display:block;
    }
    .footer-credits span{
        display:none;
    }
    .landing-blog div {
        font-size: 24px;
    }
    .banner-info__text {
        padding: 30px 20px 50px 20px;
        font-family: "Inter";
        position: relative;
        z-index: 3;
        color: white;
        font-size: 14px;
    }
}